$theme-colors: (
  primary: #35BA6E,
  warning: #FFA726,
  secondary: #1A2040,
  success: #A8E1BE,
  light: #f8f8f8,
  info: #3BD17C,
  danger: #C8102E,
  dark: #02042b
);
@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500;600;700;900&family=Roboto&display=swap');

body {
  font-size: 22px;
  font-family: 'Exo';
}

div#__next {
  overflow-x: hidden;
}

h1 {
  font-size: 55px;
  font-weight: 700;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

h5 {
  font-size: 25px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

.fs-1 {
  font-size: 35px !important;
  font-weight: 500;
}

.fs-2 {
  font-size: 25px !important;
}

.fs-3 {
  font-size: 22px !important;
}

.fs-4 {
  font-size: 20px !important;
}

.fs-5 {
  font-size: 18px !important;
}

.fs-6 {
  font-size: 15px !important;
}

.font-roboto {
  font-family: 'Roboto';
  font-weight: 400;
}

section {
  padding: 130px 0;
}

.container {
  max-width: 1260px;
}

.btn-pill {
  border-radius: 50px;
}

.rounded-1 {
  border-radius: 10px !important;
}

.btn,
.form-control,
.form-select {
  padding: 17px 40px;
  font-weight: 500;
}

.opacity-84 {
  color: rgba(255, 255, 255, 0.65) !important;
}

button.btn.btn-primary.bg-warning,
button.btn.btn-primary,
a.btn.btn-link.text-white.bg-primary {
  border: 1px solid rgba(26, 32, 64, 0.5);

}

.btn-opacity-success {
  background-color: rgba(53, 186, 110, 0.1);
}

.btn-opacity-warning {
  background-color: rgba(255, 167, 38, 0.1);
}

.community-content .shadow {
  box-shadow: 0 1px 25px 0 rgb(0 0 0 / 10%) !important;
}


.home-page {
  background-image: url(../../public/assets/images/banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


header {
  height: 106px;
}

header .me-5 {
  margin-right: 45px !important;
}

.dashboard {
  background-image: linear-gradient(106deg, #43d482, #ffae00);
  background-position: 120% 50%, 0px 0px;
  background-repeat: no-repeat;
}

.cta-banner .card:before,
.pricing-cta .card:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 40px solid white;
  border-left: 25px solid #A8E1BE;
  width: 0;
}

.card-primary:before {
  border-left: 25px solid #4FE890 !important;
}

.cta-banner .card,
.pricing-cta .card {
  border-radius: 11px;
  width: 395px;
}

.card-primary {
  background: linear-gradient(139.03deg, #35BA6E 26.47%, #4FE890 100.07%);
  box-shadow: none !important;
}

.card-internet img {
  margin-top: -125px;
}

.card-business img {
  margin-top: -175px;
}

.cta-banner .btn {
  width: 245px;
  bottom: -35px;
}

.card-internet {
  margin-top: 120px;
}

.card-business {
  margin-top: 200px;

}

.home-page .my-auto .font-roboto {
  line-height: 36px;
  letter-spacing: 4px;
}

footer .col-lg-5 {
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.about-hero h2 {
  max-width: 955px;
}

.pricing-cta .btn {
  width: 261px;
  bottom: -35px;
}

.standard-card .card::before {
  border-left: 25px solid #35BA6E
}

.standard-card img {
  margin-top: -35px;
}

.entreprise-card img {
  margin-top: -55px;
}

.contact-form .btn {
  width: 152px;
  padding: 10px;
}

.contact-form label {
  color: #fff;
  margin-bottom: 15px !important;
  font-family: 'Roboto';
}

.card-bg .accordion-item {
  background-image: url(../../public/assets/images/card-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 420px;
}

.cta-banner .card-text {
  color: #000000CC;
}

.copyright p {
  opacity: 0.67;
}

.eye-off,
.eye-on {
  right: 15px;
  top: 52px;
}

// .sidebar .nav-link.active {
//   color: #fff !important;
//   background-color: #35BA6E;
//   border: none;
// }

.sidebar .nav-link {
  height: 70px;
  border-bottom: 2px solid #eee !important;
}

.sidebar.border-end {
  border-right: 2px solid #eee !important;
  font-weight: 500;
}

.avtar button {
  padding: 12px 15px;
}

.public-nav ul.dropdown-menu {
  min-width: 111px;
}

.private-nav ul.dropdown-menu {
  width: 222px;
  height: 232px;
}

.contact-form ::placeholder {
  color: rgba(255, 255, 255, 0.22) !important;
}

.contact-form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.22) !important;
}

.dropdown-toggle::after {
  display: none;
}


.dropdown-toggle::before {
  content: "";
  background-image: url(../../public/assets/images/dropdown.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 10.81px;
  height: 6.22px;
  top: 13px;
  right: -22px;
}

.standard-card ul {
  list-style-type: square;
}

.standard-card ul li::marker {
  color: #FAC932;
}

.vr-line:after {
  content: "";
  height: 85%;
  border-left: 2px solid rgba(0, 0, 0, 0.45);
  position: absolute;
  left: 0;
  top: 30px;
  margin-left: -70px;
}

.vr-line:before {
  content: "";
  height: 85%;
  border-right: 2px solid rgba(0, 0, 0, 0.45);
  position: absolute;
  right: 0;
  top: 30px;
  margin-right: -50px;

}

.faq-content .accordion-button::after {
  background-image: url(../../public/assets/images/accordion1.svg);
  background-size: cover;
  background-position: center;
  width: 125px;
  height: 32px;
}

.faq-content .accordion-button:not(.collapsed)::after {
  background-image: url(../../public/assets/images/accordion2.svg);
  background-size: cover;
  background-position: center;
  width: 125px;
  height: 32px;
  transform: none;
}

.faq-content .accordion-button::before {
  content: '';
  background-image: url(../../public/assets/images/plus.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 43px;
  margin-right: 25px;
}

.faq-content .accordion-button:not(.collapsed)::before {
  content: '';
  background-image: url(../../public/assets/images/minus.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 43px;
  margin-right: 25px;
}

.faq-content .accordion-body.fs-2:before {
  content: url(../../public/assets/images/accrodion-line.png);
  position: absolute;
  top: 25px;
  left: 57px;
}

.faq-content .accordion-body {
  line-height: 31.9px;
}

.faq-content .accordion-body p {
  padding-left: 75px;
}

.faq-content .container {
  background: rgba(89, 115, 255, 0.05);
}

@media only screen and (max-width: 1375px) {
  h1 {
    font-size: 48px;
  }

  header ul li a,
  header .btn {
    font-size: 20px !important;
  }

  header .me-5 {
    margin-right: 24px !important;
  }

  .home-page .col-1 {
    display: none !important;
  }

  .home-page {
    background-position: right;
  }

  .my-account {
    padding: 130px 3rem;
  }
}

@media only screen and (max-width: 1290px) {

  h1 {
    font-size: 43px;
  }

  header ul li a,
  header .btn {
    font-size: 17px !important;
  }

  header .me-5 {
    margin-right: 15px !important;
  }

  .home-page .my-auto .font-roboto {
    line-height: 30px;
  }

  .contact-form img {
    width: 100% !important;
  }

  form.w-50.mx-auto.py-5 {
    width: 75% !important;
  }

  .private-nav li a,
  .private-nav .btn {
    font-size: 20px !important;
  }


}

@media only screen and (max-width: 1205px) {
  .my-account {
    padding: 130px 0rem;
  }

  .my-account table {
    width: 765px;
  }

  .table-scroll {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 1166px) {

  h1 {
    font-size: 37px;
  }

  header ul li a,
  header .btn {
    font-size: 13px !important;
  }

  header .me-5 {
    margin-right: 0 !important;
  }

  .home-page .my-auto .font-roboto {
    line-height: 25px;
  }

  .dropdown-toggle::before {
    top: 8px;
  }
}

@media only screen and (max-width: 1024px) {

  h1,
  h2 {
    font-size: 35px;
  }

  .fs-1 {
    font-size: 30px !important;
  }

  .fs-2 {
    font-size: 20px !important;
  }

  header li.nav-item.mx-2 {
    margin-right: 0 !important;
  }

  .scroll {
    width: 1100px;
  }

  .v-container {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 991px) {

  header.border-bottom.border-dark.py-4.px-5 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .cta-banner .card,
  .pricing-cta .card {
    width: 350px;
  }

  div#offcanvasExample {
    background-color: #35BA6E;
  }

  .offcanavas-img {
    position: absolute;
    left: 120px;
    bottom: 115px;
  }

  header .btn {
    font-size: 20px !important;
  }

  .vr-line:before,
  .vr-line:after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  footer .col-lg-5 {
    max-width: inherit;
  }

  footer .col-12 {
    border-bottom: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  footer .row.py-5 {
    padding: 0 !important;
  }

  .copyright {
    border-top: 0 !important;
  }
}